<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
          <div class="title login">Login Form</div>
          <div class="title signup">Signup Form</div>
        </div>
        <div class="form-container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
            <form action="#" class="login">

                <div class="field">
                    <!-- <input type="text" placeholder="Select username" required> -->
                    <select id="usernameDropdown" class="dropdown input" required>
                        <option value="" disabled>Select username</option>
                        <option value="user1">user1</option>
                        <option value="user2">user2</option>
                        <option value="user3">user3</option>
                        <option value="user4">user4</option>
                        <option value="user5">user5</option>
                        <option value="user6">user6</option>
                        <option value="user7">user7</option>
                        <option value="user8">user8</option>
                        <option value="user9">user9</option>
                        <option value="user10">user10</option>
                    </select>
                </div>
                
              <!-- <div class="field">
                <input type="email" placeholder="Email Address" required>
              </div> -->

              <div class="field">
                <input type="password" placeholder="Password" required>
              </div>

              <div class="pass-link"><a href="#">Forgot password?</a></div>
              
            <!-- <a href="/get_home">  -->
              <div class="field btn" onclick="fun()">
                <div class="btn-layer"></div>
                <input type="submit" value="Login">
              </div>
            <!-- </a>  -->

              <div class="signup-link">Not a member? <a href="">Signup now</a></div>

            </form>

            <form action="#" class="signup">
              
              <div class="field">
                <input type="text" placeholder="Username" required>
              </div>

              <div class="field">
                <input type="password" placeholder="Password" required>
              </div>

              <div class="field">
                <input type="password" placeholder="Confirm password" required>
              </div>

              <div class="field btn" onclick="fun1()">
                <div class="btn-layer"></div>
                <input type="submit" value="Signup">
              </div>

            </form>
          </div>
        </div>
      </div>
      <a href="/get_home" style = "display:none;" id="sample"></a>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="../static/js/login.js"></script>
</body>
</html>