<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <button type="submit" class="btn" id="getRecommendationBtn">Get Recommendation</button>
    <a href="/get_sub"><button class="close-btn">Close</button></a>

    <div class="product-container">
        <div class="product1 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>
    
        <div class="product2 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>
    
        <div class="product3 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>
        <div class="product4 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>
    
        <div class="product5 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>
    
        <div class="product6 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>
    
        <div class="product7 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>
    
        <div class="product8 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>
    
        <div class="product9 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>
    
        <div class="product10 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>
    
        <div class="product11 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>
    
        <div class="product12 pro">
            <img src="" alt="" class="pro-img">
            <h1></h1>
            <p></p>
        </div>

    </div>

    <div class="special product" style="display: none;">
        <img src="" alt="" class="special-img">
        <div class="content">
            <h1 class="special-h1"></h1>
            <p class="special-p"></p>
            <button class="like bt">Like</button>
            <button class="add_to_cart bt">Add to Cart</button>
            <button class="buy_now bt">Buy Now</button>
            <button class="save_for_later bt">Save for Later</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>