<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/sub.css">
</head>
<body>
    <div class="categories-grid"> 
        <div class="category-card">
            <img src="../static/images/mobiles.jpg" alt="Category 1">
            <h1>Mobiles</h1>
            <a href="/get_main">
                <button type="submit" class="category-button btn-1" onclick="fun('Mobiles')">Explore</button>
            </a>
            <!-- <a href="main.html"><button type="submit" class="category-button">Explore</button></a> -->
        </div>
    
        <div class="category-card">
            <img src="../static/images/laptops.jpg" alt="Category 2">
            <h1>Laptops</h1>
            <button class="category-button">Explore</button>
        </div>
        
        <div class="category-card">
            <img src="../static/images/watches.jpg" alt="Category 3" style="width: 50%;">
            <h1>Watches</h1>
            <button class="category-button">Explore</button>
        </div>
            
        <div class="category-card">
            <img src="../static/images/styling.jpg" alt="Category 4">
            <h1>Styling devices</h1>
            <button class="category-button">Explore</button>
        </div>
    
        <div class="category-card">
            <img src="../static/images/cameras.jpg" alt="Category 5">
            <h1>Cameras</h1>
            <button class="category-button">Explore</button>
        </div>
    
        <div class="category-card">
            <img src="../static/images/gaming.jpg" alt="Category 6">
            <h1>Gaming</h1>
            <button class="category-button">Explore</button>
        </div>
    
        <div class="category-card">
            <img src="../static/images/televisions.jpg" alt="Category 7">
            <h1>Televisions</h1>
            <button class="category-button">Explore</button>
        </div>
    
        <div class="category-card">
            <img src="../static/images/headphones.jpg" alt="Category 8">
            <h1>Headphones</h1>
            <button class="category-button">Explore</button>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/sub.js"></script>
</body>
</html>
