<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="categories-grid"> 
        <div class="category-card">
            <img src="../static/images/electronics.jpg" alt="Category 1">
            <h1>Electronics</h1>
            <a href="sub.html"><button type="submit" class="category-button">Explore</button></a>
        </div>
    
        <div class="category-card">
            <img src="../static/images/grocery.jpg" alt="Category 2">
            <h1>Grocery</h1>
            <button class="category-button">Explore</button>
        </div>
        
        <div class="category-card">
            <img src="../static/images/fashion.jpg" alt="Category 3">
            <h1>Fashion</h1>
            <button class="category-button">Explore</button>
        </div>
            
        <div class="category-card">
            <img src="../static/images/furnituure.jpg" alt="Category 4">
            <h1>Furniture</h1>
            <button class="category-button">Explore</button>
        </div>
    
        <div class="category-card">
            <img src="../static/images/applliances.jpg" alt="Category 5">
            <h1>Home Appliances</h1>
            <button class="category-button">Explore</button>
        </div>
    
        <div class="category-card">
            <img src="../static/images/nutrition.jpg" alt="Category 6">
            <h1>Nutrition & health</h1>
            <button class="category-button">Explore</button>
        </div>
    
        <div class="category-card">
            <img src="../static/images/personal.jpg" alt="Category 7">
            <h1>Personal Care</h1>
            <button class="category-button">Explore</button>
        </div>
    
        <div class="category-card">
            <img src="../static/images/toys.jpg" alt="Category 8">
            <h1>Toys & Baby</h1>
            <button class="category-button">Explore</button>
        </div>
    </div>

    

    <script src="../static/js/home.js"></script>
</body>
</html>
